<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="keywords" content="HTML, CSS, JavaScript"/>    
        <!--uso de palavras chaves-->    
        <meta name="description" content="Desenvolvimento de um software com framework web que utilize noções de banco de dados, praticando controle de versão"/> <!--descrição so site-->   
        <meta name="author" content="CLESIO JOSE DA SILVA CLEMENTE, LARISSA CELESTINO FERRAZ, MIRIÃ DA SILVA RIBEIRO,"> 
        <title>TÁ NA HORA...</title>
        <link rel="shortcut icon" href="5130logo-univesp_completo_cor-negativo.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="#">  
    </head>
    <body>
        <header>
            <nav>
                <div class="logo">
                    <a href="index.html">
                        <h1 > Tá na H
                            <i class="fa fa-clock-o" aria-hidden="true"></i> ra... 
                        </h1>
                    </a>
                    <h6> Uma forma DIVERTIDA de Interação em Família</h6>
                </div>
                <!-- *** MENU *** -->
                <div class="menu">
                    <div class="button-menu">
                        <ul class="ul">
                            <a data-anchor="product" href="index.html"> Home </a>
                            <a data-anchor="product" href="#"> Login </a>
                            <a data-anchor="product" href="#"> Sobre </a>
                        </ul>
                    <img src="img/menu-linha.png" >
                    </div>
                </div>
            </nav>
        </header>
        <hr>
        <div class="corpo">
            <div class="seccao-prim">
                <div class="texto-home">
                    <h1> Reconstruindo laços: Estratégias para Estabelecer Conexões, Regras e Limites no seio familiar</h1>
                    <p > A proposta deste web site é ser uma ferramenta que permita as famílias, de maneira lúdica e educativa, a desenvolver estratégias que auxilie na modulação de comportamento e no estreitamento dos laços familiares. Tornando assim seus filhos, parte desta pesquisa, protagonistas de suas escolhas dentro de uma metodologia de gameficação baseada em recompensas, incentivos, competição, desafios, cooperação e colaboração.</p>
                </div>
                <div class="img-1home">
                    <img  src="https://th.bing.com/th/id/OIP.nLXK6JHNXPQ-iOBBMmoLLwHaEc?w=300&h=180&c=7&r=0&o=5&pid=1.7" alt="">
                </div> 
            </div>
            <div class="seccao-segun">
                <div class="img-2home" >
                    <img  src="https://image.freepik.com/vetores-gratis/pais-com-cinco-filhos-brincando_1308-3546.jpg" alt="">
                </div>
                <div texte-2home>
                    <div>
                        <h1 class="home-princ-subtitle"> Tá na Hora .... </h1>
                        <p> A interação social, principalmente com seus pares, proporciona oportunidades para o conflito cognitivo. O conflito surge quando a criança demonstra seu ponto de vista com seus pares, o que as leva a questionar suas próprias ideias e buscar soluções mais complexas (Jean Piaget e Alina Szeminska 2018). Assim, entendemos que a gameficação é uma abordagem que, pode promover um equilíbrio saudável entre a tecnologia e outras atividades na infância, (Hofferth & Moon 2012 e Pellegrini & Smith 1998).</p>
                    </div>
                </div>
            </div>
            <div class="listas">
                <h2> O nascimento deste projeto: </h2>
                <p> A ideia do projeto, de controle parental, nasce da realidade dos próprios integrantes do Grupo e de conversas com familiares e amigos, pais ou provedores, e pela compreensão de que, compete aos responsáveis manter o diálogo com as crianças e adolescentes sempre aberto e permeável sobre o uso das tecnologias, e que isso converter-se em mais um ganho de entrosamento da comunicação (Eisenstein 2013).</p>
            </div>
        </div>   
        <footer>
            <div class="container-footer">
                <div class="row-footer">
                    <div class="footer-col">
                        <h4>Tá na Hora...</h4>
                        <ul>
                            <li><a href="sobre.html"> Quem somos </a></li>
                            <li><a href="#"> política de privacidade </a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Obter ajuda</h4>
                        <ul>
                            <li><a href="sobre.html">Duvidas</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Se subescreva!</h4>
                        <div class="medias-socias">
                            <a href="#"> <i class="fa fa-facebook"></i> </a>
                            <a href="#"> <i class="fa fa-instagram"></i>  </a>
                            <a href="#"> <i class="fa fa-whatsapp"></i>  </a>
                            <a href="#"> <i class="fa fa-linkedin"></i> </a>
                        </div>
                    </div>
                    <div class="final">
                        <h1> &copy;Projeto Integrador em Computação II </h1>
                        <p> &copy;Desenvolvimento de um software com framework web que utilize noções de banco de dados, praticando controle de versão.</p>
                    </div>
                </div>
            </div>
        </footer>  
    </body>
</html>