<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="keywords" content="HTML, CSS, JavaScript"/>    
        <!--uso de palavras chaves-->    
        <meta name="description" content="Desenvolvimento de um software com framework web que utilize noções de banco de dados, praticando controle de versão"/> <!--descrição so site-->   
        <meta name="author" content="CLESIO JOSE DA SILVA CLEMENTE, LARISSA CELESTINO FERRAZ, MIRIÃ DA SILVA RIBEIRO,"> 
        <title>TÁ NA HORA...</title>
        <link rel="shortcut icon" href="5130logo-univesp_completo_cor-negativo.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <script defer src="./javascri.js"></script>
    </head>
    <body>
         <div>
<ul> 
<li></li>

</ul>
</div>