<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <!--uso de palavras chaves-->
    <meta
      name="description"
      content="Desenvolvimento de um software com framework web que utilize noções de banco de dados, praticando controle de versão"
    />
    <!--descrição so site-->
    <meta
      name="author"
      content="CLESIO JOSE DA SILVA CLEMENTE, LARISSA CELESTINO FERRAZ, MIRIÃ DA SILVA RIBEIRO,"
    />
    <title>TÁ NA HORA...</title>
    <link
      rel="shortcut icon"
      href="5130logo-univesp_completo_cor-negativo.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <script defer src="./javascri.js"></script>
  </head>
  <body>
    <div class="fundo">
      <header class="header">
        <nav class="nav">
          <a href="/index" class="logo">
            <h1>
              Tá na H <i class="fa fa-clock-o" aria-hidden="true"></i> ra...
            </h1>
          </a>
          <!-- *** MENU *** -->
          <ul class="nav-list">
            <li><a data-anchor="product" href="/responsavel"> Home </a></li>
            <li>
              <a data-anchor="product" href="/responsavel/atividade">
                Atividades
              </a>
            </li>
            <li>
              <a data-anchor="product" href="/responsavel/dependente/adicionar">
                Adicionar Dependente
              </a>
            </li>
            <li><a data-anchor="product" href="/perfil"> Perfil </a></li>
            <li><a data-anchor="product" href="/calendario"> Calendario </a></li>
            <li><a data-anchor="product" href="/sobre"> Sobre </a></li>
          </ul>
        </nav>
      </header>
      <div id="cadastro">
        <form
          class="form-cadastro"
          method="POST"
          action="/responsavel/dependente/adicionar"
        >
          <div class="cadastros">
            <div class="respo">
              <h1>Adicionar Dependente</h1>
              <div class="barra-horizontal"></div>

              <input
                type="hidden"
                id="resp_id"
                name="resp_id"
                value="{{ resp_id }}"
              />
              <div class="input-box2">
                <label for="firstname">Primeiro Nome</label>
                <input
                  id="firstname"
                  type="text"
                  name="firstname"
                  placeholder="Digite seu primeiro nome."
                  required
                />
              </div>
              <div class="input-box2">
                <label for="lastname"> Sobrenome:</label>
                <input
                  id="lastname"
                  type="text"
                  name="lastname"
                  placeholder="Digite seu sobrenome."
                  required
                />
              </div>
              <div class="input-box2">
                <label for="nickname"> Como você Prefere ser Chamado:</label>
                <input
                  id="nickname"
                  type="text"
                  name="nickname"
                  placeholder="Digite seu apelido."
                  required
                />
              </div>
              <div class="input-box2">
                <label for="birthdate">Data de Nascimento:</label>
                <input
                  id="birthdate"
                  type="birthdate"
                  name="date"
                  placeholder="12/03/1999"
                  required
                />
              </div>
              <div class="input-box2">
                <label for="email"> E-mail:</label>
                <input
                  id="email"
                  type="email"
                  name="email"
                  placeholder="Digite seu E-mail."
                  required
                />
              </div>
              <div class="input-box2">
                <label for="telephone"> Celular:</label>
                <input
                  id="telephone"
                  type="tel"
                  name="telephone"
                  placeholder="(xx) xxxxx-xxxx "
                  required
                />
              </div>
              <div class="input-box2">
                <label for="password"> Senha:</label>
                <input
                  id="password"
                  type="password"
                  name="password"
                  placeholder="Digite sua senha. "
                  required
                />
              </div>
              <div class="input-box2">
                <label for="gender">e Gênero:</label>
                <input
                  id="gender"
                  type="text"
                  name="gender"
                  placeholder="Digite. "
                  required
                />
              </div>
            </div>
          </div>
          <!-- <div class="enviar" style="background-color: orange;">                  
                    <button type="submit" >Enviar</button> <br><br> -->
          <div class="enviar">
            <input type="submit" />
          </div>
        </form>
      </div>
      <footer id="footer-sobre">
        <div class="fo-sobre">
          <div class="footer-sob">
            <h4>Tá na Hora...</h4>
            <ul>
              <li><a href="/sobre"> Quem Somos? </a></li>
              <li><a href="#"> Política de Privacidade. </a></li>
            </ul>
          </div>
          <div class="footer-sob">
            <h4>Obter ajuda</h4>
            <ul>
              <li><a href="/sobre">Duvidas?</a></li>
            </ul>
          </div>
          <div class="footer-sob">
            <h4>Se subescreva!</h4>
            <div class="medias-socias">
              <a href="https://pt-br.facebook.com/">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="https://www.whatsapp.com">
                <i class="fa fa-whatsapp"></i>
              </a>
              <a href="https://www.linkedin.com">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="final-sob">
          <p>&copy;Projeto Integrador em Computação II</p>
          <p>
            &copy; Desenvolver um software com framework web que utilize banco
            de dados, script web, nuvem, uso de API, acessibilidade e controle
            de versão.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
