<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keywords" content="HTML, CSS, JavaScript, Python, Flask" />
    <!--uso de palavras chaves-->
    <meta
      name="description"
      content="Desenvolvimento de um software com framework web que utilize noções de banco de dados, praticando controle de versão"
    />
    <!--descrição so site-->
    <meta
      name="author"
      content="CLESIO JOSE DA SILVA CLEMENTE, LARISSA CELESTINO FERRAZ, MIRIÃ DA SILVA RIBEIRO, MArCEL LUCHI MARCHI, LEORNADO RODRIGUES HORIKOS."
    />
    <title>TÁ NA HORA...</title>
    <link
      rel="shortcut icon"
      href="5130logo-univesp_completo_cor-negativo.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <script defer src="./javascri.js"></script>
  </head>
  <body>
    <div class="fundo">
      <header class="header">
        <nav class="nav">
          <a href="home" class="logo">
            <h1>
              Tá na H <i class="fa fa-clock-o" aria-hidden="true"></i> ra...
            </h1>
          </a>
          <!-- *** MENU *** -->
          <ul class="nav-list">
            <li><a data-anchor="product" href="/sobre"> Sobre </a></li>
            <li><a data-anchor="product" href="/login"> Login </a></li>
            <li class="botao">
              <a data-anchor="product" href="/cadastro"> Cadastra-se </a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="linha-cor"></div>
      <div class="corpo">
        <div class="texto-home">
          <h1>Tá na Hora ...</h1>
          <p>Uma forma <strong> DIVERTIDA </strong> de Interação em Família.</p>
          <p>
            Esta web site é uma ferramenta que permite as famílias, de maneira
            lúdica e educativa, a <strong>DESENVOLVER</strong> estratégias que
            auxilie na modulação de comportamento e no estreitamento dos
            <strong>LAÇOS FAMILIARES.</strong>
          </p>
          <button>
            <a data-anchor="product" href="cadastro"> Cadastra-se </a>
          </button>
        </div>
        <div class="img-home">
          <img src="/static/img/familia2.jpg" alt="" />
        </div>
      </div>
      <footer>
        <div class="final">
          <p>&copy;Projeto Integrador em Computação II</p>
          <p>
            &copy; Desenvolver um software com framework web que utilize banco
            de dados, script web, nuvem, uso de API, acessibilidade e controle
            de versão.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
