<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <!--uso de palavras chaves-->
    <meta
      name="description"
      content="Desenvolvimento de um software com framework web que utilize noções de banco de dados, praticando controle de versão"
    />
    <!--descrição so site-->
    <meta
      name="author"
      content="CLESIO JOSE DA SILVA CLEMENTE, LARISSA CELESTINO FERRAZ, MIRIÃ DA SILVA RIBEIRO,MArCEL LUCHI MARCHI, LEORNADO RODRIGUES HORIKOS"
    />
    <title>TÁ NA HORA...</title>
    <link
      rel="shortcut icon"
      href="5130logo-univesp_completo_cor-negativo.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <div class="fundo">
      <header class="header">
        <nav class="nav">
          <a href="/index" class="logo">
            <h1>
              Tá na H <i class="fa fa-clock-o" aria-hidden="true"></i> ra...
            </h1>
          </a>
          <!-- *** MENU *** -->
          <ul class="nav-list">
            <li><a data-anchor="product" href="/responsavel"> Home </a></li>
            <li>
              <a data-anchor="product" href="/responsavel/atividade">
                Atividades
              </a>
            </li>
            <li>
              <a data-anchor="product" href="/responsavel/dependente/adicionar">
                Adicionar Dependente
              </a>
            </li>
            <li><a data-anchor="product" href="/perfil"> Perfil </a></li>
            <li><a data-anchor="product" href="/calendario"> Calendario </a></li>
            <li><a data-anchor="product" href="/sobre"> Sobre </a></li>
          </ul>
        </nav>
      </header>
      <main id="perfil-responsavel">
        <section id="dados-perfil">
          <figure>
            <img src="./img/usuario.jpeg" width="80px" height="80px" />
            <button class="edit-button">
              <svg
                fill="#000"
                height="20px"
                width="20px"
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 306.637 306.637"
                xml:space="preserve"
              >
                <g>
                  <path
                    d="M12.811,238.52L0,306.637l68.118-12.809l184.277-184.277l-55.309-55.309L12.809,238.52z M60.79,279.943l-41.992,7.896 l7.896-41.992L197.086,75.455l34.096,34.096L60.79,279.943z"
                  />
                  <path
                    d="M251.329,0l-41.507,41.507l55.308,55.308l41.507-41.507L251.329,0z M231.035,41.507l20.294-20.294l34.095,34.095 L265.13,75.602L231.035,41.507z"
                  />
                </g>
              </svg>
            </button>
            <script>
              const editButton = document.querySelector(".edit-button");
              editButton.addEventListener("click", () => {
                // Aqui você adiciona a lógica para a ação ao clicar no botão
                alert("Botão de editar foto clicado!");
              });
            </script>
            <figcaption>Nome do Usuario</figcaption>
          </figure>
          <div class="dados-usuario-perfil">
            <h1>Dados de Usuario</h1>
            <div class="linha-cor"></div>

            <div class="input-perfil">
              <label for="firstname-perfil"> Nome:</label>
              <input
                id="name-perfil"
                type="text"
                name="firstname"
                placeholder="{{ usuario.firstname }} {{ usuario.lastname }}"
                disabled
              />
            </div>
            <div class="input-perfil">
              <label for="nickname-perfil"> Nome social:</label>
              <input
                id="nickname-perfil"
                type="text"
                name="nickname"
                placeholder="{{ usuario.nickname }}"
                required
              />
            </div>
            <div class="input-perfil">
              <label for="birthdate-perfil">Data de Nascimento:</label>
              <input
                id="birthdate-perfil"
                type="text"
                name="birthdate"
                placeholder="{{ usuario.birthdate.strftime('%d/%m/%Y') }}"
                disabled
              />
            </div>
            <div class="input-perfil">
              <label for="email-perfil"> E-mail:</label>
              <input
                id="email-perfil"
                type="email"
                name="email"
                placeholder="{{ usuario.email }}"
                required
              />
            </div>
            <div class="input-perfil">
              <label for="tel-perfil"> Celular:</label>
              <input
                id="tel-perfil"
                type="tel"
                name="telephone"
                placeholder="{{ usuario.telephone }}"
                required
              />
            </div>
            <div class="input-perfil">
              <label for="password"> Alterar Senha:</label>
              <input
                id="alt-password"
                type="password"
                name="password"
                placeholder="Digite sua nova senha. "
                required
              />
            </div>
            <div class="input-perfil">
              <label for="gender"> Gênero:</label>
              <input
                id="gender-perfil"
                type="text"
                name="gender"
                placeholder="{{ usuario.gender }}"
                required
              />
            </div>
            <div id="buttons-perfil">
              <button>
                <a href="./adicionar-dependente.html"> Adicionar Dependente</a>
              </button>
              <button><a href="">Editar dados</a></button>
            </div>
          </div>
        </section>
        <section id="hist-atividade">
          <div>
            <h2>HISTÓRICO DE ATIVIDADES</h2>
            <div class="linha-cor"></div>
            <div id="registro-hist">
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
          <div>
            <h2>PROXIMAS ATIVIDADES</h2>
            <div class="linha-cor"></div>
            <div id="registro-hist">
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
          <div>
            <h2>ATIVIDADES PENDENTE</h2>
            <div class="linha-cor"></div>
            <div id="registro-hist">
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
          <div>
            <h2>TOTAL DE PONTOS</h2>
            <div class="linha-cor"></div>
            <div id="grafigo-perfil">
              <canvas id="myChart"></canvas>
              <script>
                const ctx = document.getElementById("myChart").getContext("2d");
                const myChart = new Chart(ctx, {
                  type: "bar", // Tipo do gráfico (barra, linha, pizza, etc.)
                  data: {
                    labels: [
                      "Meus Pontos",
                      "Pontos Dependente 1",
                      "Pontos Dependente 2",
                    ],
                    datasets: [
                      {
                        label: "Total de pontos",
                        data: [12, 19, 3],
                        backgroundColor: [
                          "rgb(255, 99, 132)",
                          "rgb(54, 162, 235)",
                          "rgb(255, 205, 86)",
                        ],
                      },
                    ],
                  },
                  options: {
                    scales: {
                      x: {
                        min: 0,
                        max: 10,
                      },
                      y: {
                        min: 0,
                        max: 30,
                      },
                    },
                  },
                });
              </script>
            </div>
          </div>
        </section>
      </main>
      <footer id="footer-sobre">
        <div class="fo-sobre">
          <div class="footer-sob">
            <h4>Tá na Hora...</h4>
            <ul>
              <li><a href="/sobre"> Quem Somos? </a></li>
              <li><a href="#"> Política de Privacidade. </a></li>
            </ul>
          </div>
          <div class="footer-sob">
            <h4>Obter ajuda</h4>
            <ul>
              <li><a href="/sobre">Duvidas?</a></li>
            </ul>
          </div>

          <div class="footer-sob">
            <h4>Se subescreva!</h4>
            <div class="medias-socias">
              <a href="https://pt-br.facebook.com/">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="https://www.whatsapp.com">
                <i class="fa fa-whatsapp"></i>
              </a>
              <a href="https://www.linkedin.com">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="final-sob">
          <p>&copy;Projeto Integrador em Computação II</p>
          <p>
            &copy; Desenvolver um software com framework web que utilize banco
            de dados, script web, nuvem, uso de API, acessibilidade e controle
            de versão.
          </p>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </body>
</html>
