<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <!--uso de palavras chaves-->
    <meta
      name="description"
      content="Desenvolvimento de um software com framework web que utilize noções de banco de dados, praticando controle de versão"
    />
    <!--descrição so site-->
    <meta
      name="author"
      content="CLESIO JOSE DA SILVA CLEMENTE, LARISSA CELESTINO FERRAZ, MIRIÃ DA SILVA RIBEIRO,MArCEL LUCHI MARCHI, LEORNADO RODRIGUES HORIKOS"
    />
    <title>TÁ NA HORA...</title>
    <link
      rel="shortcut icon"
      href="5130logo-univesp_completo_cor-negativo.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./static/style.css" />
    <script defer src="./javascri.js"></script>
  </head>
  <body>
    <div class="fundo">
      <header class="header">
        <nav class="nav">
          <a href="home" class="logo">
            <h1>
              Tá na H <i class="fa fa-clock-o" aria-hidden="true"></i> ra...
            </h1>
          </a>
          <!-- *** MENU *** -->
          <ul class="nav-list">
            <li><a data-anchor="product" href="home"> Home </a></li>
            <li><a data-anchor="product" href="login"> Login </a></li>
            <li class="botao">
              <a data-anchor="product" href="cadastro"> Cadastra-se </a>
            </li>
          </ul>
        </nav>
      </header>
      <div id="sobre">
        <section class="primeira">
          <div class="somos">
            <h1>Quem Somos?</h1>
            <p>
              Somos um grupo de estudantes do Eixo de Computação da UNIVESP.<br />
              Este é o Projeto Integrador-I cujo objetivo é : O desenvolvimento
              de um software com framework web que utilize banco de dados,
              inclua script web (Javascript), nuvem, uso de API, acessibilidade,
              controle de versão e testes. Opcionalmente, incluir análise de
              dados.
            </p>
          </div>
          <div class="obj">
            <h1>Nossos Objetivos ...</h1>
            <p>
              O objetivo deste projeto é promover a interação familiar, a
              comunicação clara e aberta, no diálogo construtivo motivando e
              estreitando os vínculos familiares.<br /><br />A Sociedade
              Brasileira de Pediatria, no documento #MenosTelas#MaisSaúde ,
              orienta os pais e responsáveis sobre o uso saudável de telas.<br /><br />
              Segundo o artigo, ele destaca a importância do exemplo dos pais no
              resgate de atividades offline e alerta para os impactos negativos
              do uso excessivo de telas na saúde física, mental e no
              desenvolvimento infantojuvenil.<br /><br />
              Também ressalta os riscos de ações como o cyberbullying, da
              exposição a conteúdos inadequados e os prejuízos para a leitura
              infantil.<br /><br />
              Todavia, as telas, na infância e adolescência, são uma realidade e
              é um desafio para as famílias.
            </p>
          </div>
          <h1 class="ideal">
            Idealizadores deste Projeto nomeado "Tá na Hora ..."
          </h1>
          <div class="img-sob">
            <div class="cri1">
              <p>
                <img src="/static/img/clesio1.png" /> Clésio Jose da Silva
                Clemente
              </p>
              <p><img src="/static/img/Lari.png" /> Larissa Celestino Ferraz</p>
              <p>
                <img src="/static/img/leo.png" /> Leonardo Rodrigues Horikoshi
              </p>
            </div>
            <div class="2">
              <p><img src="/static/img/marcel.png" /> Marcel Luchi Marchi</p>
              <p><img src="/static/img/mii.jpg" /> Miriã da Silva Ribeiro</p>
            </div>
          </div>
        </section>
        <section class="segunda">
          <div class="title">
            <h1>Duvidas frequentes !</h1>
          </div>
          <h3 class="question">Como criar um conta??</h3>
          <div class="answer">
            <p>
              Para criar uma conta, clique no botão "CADASTRA-SE" e preencha o
              formulário com suas informações pessoais.
            </p>
          </div>
          <div class="faq-item">
            <h3 class="question">Posso troca minha senha?</h3>
            <div class="answer">
              <p>
                Sim, você pode alterar sua senha na página de perfil da sua
                conta.
              </p>
            </div>
          </div>
        </section>
      </div>
      <footer id="footer-sobre">
        <div class="fo-sobre">
          <div class="footer-sob">
            <h4>Tá na Hora...</h4>
            <ul>
              <li><a href="sobre"> Quem Somos? </a></li>
              <li><a href="#"> Política de Privacidade. </a></li>
            </ul>
          </div>
          <div class="footer-sob">
            <h4>Obter ajuda</h4>
            <ul>
              <li><a href="sobre">Duvidas?</a></li>
            </ul>
          </div>
          <div class="footer-sob">
            <h4>Se subescreva!</h4>
            <div class="medias-socias">
              <a href="https://pt-br.facebook.com/">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="https://www.whatsapp.com">
                <i class="fa fa-whatsapp"></i>
              </a>
              <a href="https://www.linkedin.com">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="final-sob">
          <p>&copy;Projeto Integrador em Computação II</p>
          <p>
            &copy; Desenvolver um software com framework web que utilize banco
            de dados, script web, nuvem, uso de API, acessibilidade e controle
            de versão.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
